:root {
  --modal-duration: 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h4 {
    margin: 0;
    font-size:25px;

    color:black;
  }
  
  .modal-header {
    padding: 20px !important;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }

  .modal-footer {
    padding: 10px;
    color: #fff;
    text-align: right !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    float: right;
    font-size: 30px !important;
    color: #fff !important;
    margin-top: -15px !important;
  }

  #text-area {
    width: 100% !important;
    height: 30rem;
    margin:10px;
    max-width: 98%;
    padding-left:15px;
    padding-top:15px;
    font-size:18px;
  }
  

  tr {
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }